{% extends "auctions/layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">About Our E-Store Platform</h1>
            <p class="lead">Welcome to our E-Store Platform! We attempt to provide an excellent and enjoyable experience for both buyers and sellers.</p>
            <p>We Aimed To:</p>
            <ul>
                <li>Offer a wide range of listings to cater to various interests, ensuring there's something for everyone.</li>
                <li>Maintain transparency and fairness in all our transactions, ensuring a trustworthy and reliable platform for buyers and sellers alike.</li>
                <li>Provide a user-friendly interface for easy navigation and accessibility.</li>
            </ul>
            <p>Whether you're looking to buy or sell, our platform aims to facilitate smooth transactions and foster a vibrant community of auction enthusiasts.</p>
            <p>Thank you for choosing our E-Store platform. Happy buying and selling!</p>
        </div>
    </div>
</div>
{% endblock %}