{% extends "auctions/listings.html" %}
{% block body %}
{% if thewinner %}
    <h5>Congratulations, you are winner!</h5>
{% else %}
    <h5>Bidding is now closed.</h5>
{% endif %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



<table style="width: 100%;">
                <h5>{{ listing.title }}</h5>
                <img src="{{ listing.imgLink }}"/>
            </td>
            <td style="width: 80%;">
                <div>{{ listing.desc }}</div>

                <div>Final bidding price: ${{ listing.price }}</div>
                <br>
                <div>Category: {{ listing.category }}</div>
                <div>Listed by: {{ listing.user }}</div>
            </td>
        </tr>
    </tbody>
</table>







<form action="{% url 'closingBid' listing.id %}" method="post">
    {% csrf_token %}
    <h6>Add comment</h6>
    <textarea class name="comment" style="width:40%;"></textarea>
    <br>
    <input type="submit">
</form>
<br> 
<h3>Comments:</h3>
    {% for comment in comments %}
    <br>
    <i class="fa fa-user-circle-o float-left pt-1 pr-1" aria-hidden="true"></i>
    <h5 class="username">{{ comment.user }}</h5>
        <p class="message" style="margin-left: 40px"> {{ comment.comment }}</p> 
    </div>
    {% endfor %}
</ul>
{% endblock %}


